@CHARSET "ISO-8859-1";

/*!
 * Custom CSS addition for Strawsburg Development
 * This CSS file overrides the bootstrap.css file
 */

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h1 {

}

h2 {

}

.hero-unit {
	
}

.nav {
	padding-left: 400px;
}

.navbar-inner {

}

.brand {
	
}

.nerds {
    color: #000000; 
    
}

/*! Footer Top Starts Here */

.footer_top {
    background-image:url('../img/header-top-bkg.gif');
    background-repeat: repeat-x;
    min-width: 90px;
    min-height: 90px;
    border-bottom: 5px solid #747B86;
    
}

.foot_container {
    text-align: center;

}
/*! Footer social icons Starts Here */

.ul_social li{
    display: inline-block;
    text-align: center;
}

/*! Rollovers are here*/
.rollovericons a#facebook{
	display: block;
	width:32px;
	height:32px;
	background:  url(../ico/facebook_dark.png) no-repeat;
}

.rollovericons a:hover#facebook{
	background: url(../ico/facebook_active.png) no-repeat;
        width:32px;
	height:32px;
}

.rollovericons a#twitter{
	display: block;
	width:32px;
	height:32px;
	background:  url(../ico/twitter02_dark.png) no-repeat;
}

.rollovericons a:hover#twitter{
	background: url(../ico/twitter02_active.png) no-repeat;
        width:32px;
	height:32px;
}

.rollovericons a#linkedin{
	display: block;
	width:32px;
	height:32px;
	background:  url(../ico/in_dark.png) no-repeat;
}

.rollovericons a:hover#linkedin{
	background: url(../ico/in_active.png) no-repeat;
        width:32px;
	height:32px;
}

.rollovericons a#share{
	display: block;
	width:32px;
	height:32px;
	background:  url(../ico/share_dark.png) no-repeat;
}

.rollovericons a:hover#share{
	background: url(../ico/share_active.png) no-repeat;
        width:32px;
	height:32px;
}
.rollovericons a span{
	display: none;
}


/*! Footer Starts Here */

footer {
	padding-left: 900px;
}


