@CHARSET "ISO-8859-1";

/*!
 * Custom CSS Addition for Strawsburg Development
 * This CSS file overrides the bootstrap.css file
 */

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h1 {

}

h2 {

}

.hero-unit {
	
}

.nav {
	padding-left: 400px;
}

.navbar-inner {

}

.brand {
	
}

.nerds {
    color: #000000;
    
}

footer {
	padding-right: 900px;
}